@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    height: 100vh;
    background-image: url(./assets/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Outfit", sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}

.addIcon{
    background-color: rgb(90, 90, 252);
    padding: 10px;
    border-radius: 50% ;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    color: white;
}
input:focus{
    outline: 0;
}

::placeholder {
    font-family: "Outfit", sans-serif;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes popup {
    0% {
      transform: scale(1) translateY(0px);
      opacity: 0;
      box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    1% {
      transform: scale(0.96) translateY(10px);
      opacity: 0;
      box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    100% {
      transform: scale(1) translateY(0px);
      opacity: 1;
      box-shadow: 0 0 500px rgba(241, 241, 241, 0);
    }
}


@media only screen and (max-width: 480px){
    .addIcon{
        right: 20px;
    }
}

