*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-image: url(./assets/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    text-decoration: none;
    color: inherit;
}